{% extends widget.data ? 'Form/wrapper' : 'Form/nowrapper' %}

{% block widget %}
    {% if widget.data %}
        <img src="{{ widget.data|imagine('thumb') }}" class="img-sm"/>
    {% endif %}
{% endblock %}
