{% extends 'layout' %}

{% block content %}
    <h3>{{ 'cookies.header'|l }}</h3>
    <p>
        {{ 'cookies.count'|l }}:
        <strong class="cookie-count">{{ count }}</strong>
    </p>
{% endblock %}
