{% extends 'layout' %}

{% block content %}
    <p>{{ 'now'|date('format.datetime'|l) }}</p>
    <p>{{ 'test twig extension'|wave }}</p>
    <hr/>
    {% for i in 0..5 %}
        <p>{{ 'extensions.counting'|l({foo: 'bar', count: i}) }}</p>
    {% endfor %}
    <p>{{ 'extensions.nested'|l({entry: 'gay'}) }}</p>
    <p>{{ 'entity:Foo.singular'|l }}</p>
    <p>{{ 'extensions.nonexistent'|l }}</p>
    <hr/>
    {{ dump(app) }}
{% endblock %}
