{% extends 'layout' %}

{% block content %}
    <h3>{{ 'files.header'|l }}</h3>
    <ul>
        <li>
            <a href="{{ route('filesLogo') }}">
                {{ 'files.openLogo'|l }}
            </a>
        </li>
        <li>
            <a href="{{ route('filesLogo', {download: true}) }}">
                {{ 'files.downloadLogo'|l }}
            </a>
        </li>
        <li>
            <a href="{{ route('filesFetch') }}">
                {{ 'files.fetch'|l }}
            </a>
        </li>
    </ul>
{% endblock %}
