{% extends 'layout' %}

{% block content %}
    <form method="post" class="form-inline">
        {{ widget(form, form.name, 'Avris\\Forms\\Style\\BootstrapInline') }}
        <button class="btn btn-primary">{{ 'form.ok'|l }}</button>
    </form>
{% endblock %}
