{% extends 'layout' %}

{% block jumbotron %}
    {% include 'Home/jumbotron' %}
{% endblock %}

{% block content %}
    <section id="features">
        <h2><span class="fas fa-cogs"></span> {{ 'home.features.header'|l }}</h2>
        <hr/>
        <ul>
            <li>{{ 'home.features.oop'|l }}</li>
            <li>{{ 'home.features.mvc'|l }}</li>
            <li>{{ 'home.features.modules'|l }}</li>
            <li>{{ 'home.features.container'|l }} <small>{{ 'home.features.containerPsr'|l }}</small></li>
            <li>{{ 'home.features.autowiring'|l }}</li>
            <li>{{ 'home.features.dispatcher'|l }}</li>
            <li>{{ 'home.features.orm'|l }} <small>{{ 'home.features.ormSupport'|l({doctrine: '<a href="http://www.doctrine-project.org/projects/orm.html"  target="_blank" rel="noopener">Doctrine</a>'}) }}</small></li>
            <li>{{ 'home.features.routing'|l }}</li>
            <li><a href="https://gitlab.com/Avris/Micrus-Crud" target="_blank" rel="noopener">{{ 'home.features.crud'|l }}</a></li>
            <li>{{ 'home.features.templating'|l }} <small>{{ 'home.features.templatingSupport'|l({twig: '<a href="http://twig.sensiolabs.org/" target="_blank" rel="noopener">Twig</a>'}) }}</small></li>
            <li>{{ 'home.features.auth'|l }}</li>
            <li>{{ 'home.features.config'|l({yaml: '<a href="http://yaml.org/" target="_blank" rel="noopener">YAML</a>'}) }}</li>
            <li>{{ 'home.features.cli'|l }} <small>{{ 'home.features.cliTool'|l({sfConsole: '<a href="http://symfony.com/doc/current/components/console/introduction.html" target="_blank" rel="noopener">Symfony Console</a>'}) }}</small></li>
            <li>{{ 'home.features.formsElegant'|l }} <a href="https://gitlab.com/Avris/Forms" target="_blank" rel="noopener">{{ 'home.features.forms'|l }}</a></li>
            <li><a href="https://gitlab.com/Avris/Localizator" target="_blank" rel="noopener">{{ 'home.features.localisation'|l }}</a></li>
            <li>{{ 'home.features.logger'|l({monolog: '<a href="https://github.com/Seldaek/monolog" target="_blank" rel="noopener">Monolog</a>'}) }} <small>{{ 'home.features.loggerPsr'|l }}</small></li>
            <li>{{ 'home.features.cache'|l }} <small>{{ 'home.features.cachePsr'|l }}</small></li>
            <li>{{ 'home.features.flash'|l }}</li>
        </ul>
    </section>
    <section id="checkOut">
        <div class="row mt-5 mb-5">
            <div class="col-lg-6 text-center">
                <h3><span class="fas fa-cogs fa-fw"></span> {{ 'home.checkOut.demo'|l }}</h3>
                <div>
                    <span class="fab fa-gitlab fa-fw"></span>
                    <a href="https://gitlab.com/Avris/Micrus-Demo" target="_blank" rel="noopener">
                        gitlab.com/Avris/Micrus-Demo
                    </a>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <h3><span class="fas fa-book fa-fw"></span> {{ 'home.checkOut.docs'|l }}</h3>
                <div>
                    <span class="fas fa-external-link-alt fa-fw"></span>
                    <a href="https://docs.avris.it/micrus" target="_blank" rel="noopener">
                        docs.avris.it/micrus
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="projects">
        <h2><span class="fas fa-tv"></span> {{ 'home.projects.header'|l }}</h2>
        <table class="table">
            {% for project in projects %}
                <tr>
                    <th>
                        <img src="{{ asset('images/' ~ project.name ~ '.png') }}">
                        <h3 class="h4">
                            {{ project.name }}
                        </h3>
                        <p>
                            {{ ('home.projects.' ~ project.name)|l }}
                        </p>
                    </th>
                    <td>
                        <a href="{{ project.website }}" target="_blank" rel="noopener">
                            <span class="fas fa-globe"></span>
                            {{ project.website|clearUrl }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ project.repo }}" target="_blank" rel="noopener">
                            <span class="fab fa-gitlab"></span>
                            {{ project.repo|clearUrl }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>

    <section id="extensions">
        <h2><span class="fas fa-plug"></span> {{ 'home.extensions.header'|l }}</h2>
        <table class="table">
            {% for extension in extensions %}
                <tr>
                    <th>
                        <h3 class="h4">
                            {{ extension.description }}
                        </h3>
                        <p>
                            {{ ('home.extensions.' ~ extension.name)|l }}
                        </p>
                    </th>
                    <td>
                        <a href="{{ extension.repo }}" target="_blank" rel="noopener">
                            <span class="fab fa-gitlab"></span>
                            {{ extension.repo|clearUrl }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
