<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-3 mx-sm-auto d-none d-lg-block text-center align-self-center">
                <img src="{{ asset('images/logoText.svg') }}" alt="{{ 'main.title'|l }}"/>
                <h1 class="text-center">{{ 'main.title'|l }}</h1>
            </div>
            <div class="col-xs-12 col-lg-4 mx-sm-auto align-self-center">
                <p class="h2 text-center">{{ 'main.slogan'|l }}</p>
                <p class="text-justify">{{ 'main.intro.0'|l }}</p>
                <p class="text-justify">{{ 'main.intro.1'|l }}</p>
            </div>
        </div>
    </div>
</div>
