{% extends 'layout' %}

{% block content %}
    <form method="post" class="form">
        {{ widget(form, form.name, 'Avris\\Forms\\Style\\Bootstrap2') }}
        <div class="text-right">
            <div class="btn-group">
                <button name="preview" class="btn btn-default">
                    <span class="fas fa-tv"></span>
                    {{ 'email.preview'|l }}
                </button>
                <button name="send" class="btn btn-primary">
                    <span class="fas fa-paper-plane"></span>
                    {{ 'email.send'|l }}
                </button>
            </div>
        </div>
    </form>
    <div>
        {% if mail is defined %}
            <hr class="mail-separator"/>
            {{ mail|raw }}
        {% endif %}
    </div>
{% endblock %}
