#features, #checkOut, #projects, #extensions {
  h2 {
    margin: .5em .5em .75em .5em;
  }
}

#features {
  ul {
    font-size: 1.2rem;
    list-style-type: none;
    li {

      display: inline-block;
      width: 100%;

      &:before {
        content: "✓";
        margin-left: -3rem;
        width: 3rem;
        display: inline-block;
        text-align: center;
        font-weight: bold;
      }
      font-weight: bold;
      margin-bottom: 1.6rem;
      small {
        display: block;
        font-weight: normal;
        margin-bottom: -1rem;
      }
    }

    column-gap: 4rem;
    @include media-breakpoint-up('md') {
      column-count: 2;
    }
    @include media-breakpoint-up('lg') {
      column-count: 3;
    }
  }
}

#checkOut {
  [class^='col-'],[class*=' col-'] {
    padding-left: 2 * $spacer;
    padding-right: 2 * $spacer;
  }
  .row {
    width: 100%;
  }
}

#projects, #extensions {
  table {
    margin-bottom: 0;
    th {
      font-weight: normal;
      img {
        width: 2rem;
        height: 2rem;
        float: left;
        margin-top: .5rem;
        margin-right: 1rem;
      }
    }

    td {
      vertical-align: middle;
    }

    @include media-breakpoint-down('md') {
      th {
        p {
          line-height: 2.2rem;
          margin-left: .75 * $spacer;
        }
      }
      th, td {
        display: block;
        width: 100%;
        border-top: none;

        &:first-child {
          border-top: $dropdown-border-width solid $dropdown-border-color;
        }
      }
    }
  }
}
