$jumbotron-height: 30rem;

@mixin jumbotron-bg($url, $start, $end) {
  background: $start;
  background-image: url($url);
  background-image: url($url), -moz-linear-gradient(top, $start 0%, $end 100%);
  background-image: url($url), -webkit-linear-gradient(top, $start 0%, $end 100%);
  background-image: url($url), linear-gradient(to bottom, $start 0%, $end 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$end', GradientType=0);

  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  @include jumbotron-bg('../../images/jumbotron.jpg', #7fa7d1, #5c8dc0);
  margin-top: -1.6rem;
  margin-bottom: 4 * $spacer;
  height: $jumbotron-height;
  padding: 2 * $spacer;
  border-bottom: $border-width solid $border-color;
  color: #fff;

  .container, .row {
    height: $jumbotron-height - 4 * $spacer;
  }

  h1 {
    font-size: 5rem;
    margin-top: -2rem;
  }
}
