[class^='flag-'],[class*=' flag-'] {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

article {
  .img-left {
    float: left;
    margin: -1rem 1rem -1rem -1rem;
  }

  &.post-long .img-left {
    float: left;
    margin: 0 1rem 0 0;
  }
}

.select2-container--bootstrap {
  .select2-selection--multiple {
    .select2-selection__choice {
      margin: 0.325rem 0 0.325rem 0.375rem;
    }
    .select2-search.select2-search--inline {
      margin: 0.325rem 0 0 0;
    }
  }
}
