.mail-container {
  padding: 2*$spacer 0;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.navbar {
  padding: 0 $spacer;
  img {
    height: 3*$spacer;
    width: 3*$spacer;
    display: inline-block;
  }
  h1 {
    font-size: 2*$spacer;
    margin-top: $spacer;
    a {
      color: $white;
    }
  }
}

.main {
  padding: 2*$spacer 0;
}

.footer {
  border-top: $dropdown-border-width solid $dropdown-border-color;
  margin-top: $spacer;
  padding-top: $spacer;
  color: $gray-700;
}

.signature {
  hr {
    margin-left: 0;
    margin-bottom: $spacer;
    width: 33%;
  }
  p {
    font-size: 0.8rem;
  }
}

img.wide {
  width: 100%;
}
