<a href="{{ route('home', {_impersonate: entity.identifier}) }}" class="btn btn-sm btn-warning">
    <span class="fas fa-user-secret fa-fw"></span> {{ 'entity:User.actions.impersonate.name'|l }}
</a>
