{% if entity is defined and entity.id %}
    <a href="{{ route('postRead', {id: entity.id}) }}" class="btn btn-sm btn-success" target="_blank">
        <span class="fas fa-eye fa-fw"></span> {{ 'entity:Post.actions.read'|l }}
    </a>
{% endif %}
