<a href="{{ route('admin_' ~ model.name ~ '_email', {id: entity.id}) }}" class="btn btn-sm btn-primary">
    <span class="fas fa-paper-plane fa-fw"></span> {{ 'entity:User.actions.testEmail.name'|l }}
</a>
