{% for flash in app.flashBag.all %}
    <div class="alert alert-{{ flash.type }} alert-dismissible fade show">
        {{ flash.message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
