<!DOCTYPE html>
<html lang="{{ currentLocale().language }}">
<head>
    <meta charset="utf-8">
    <title>{{ 'main.title'|l }} &bull; {{ 'main.slogan'|l }}</title>
    <meta name="description" content="{{ 'main.description'|l }}" />
    <meta name="keywords" content="{{ 'main.keywords'|l }}" />
    <meta name="author" content="{{ 'main.author'|l }} <{{ 'main.email'|l }}>" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('global.css') }}"/>

    <meta property="og:title" content="{{ 'main.title'|l }} &bull; {{ 'main.slogan'|l }}" />
    <meta property="og:url" content="https://micrus.avris.it/" />
    <meta property="og:image" content="https://micrus.avris.it{{ asset('images/banner.png') }}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ 'main.title'|l }} &bull; {{ 'main.slogan'|l }}">
    <meta name="twitter:description" content="{{ 'main.description'|l }}">
    <meta name="twitter:image" content="https://micrus.avris.it{{ asset('images/banner.png') }}">
</head>
{% block body %}
    <body class="has-fixed-navbar">
    {% include 'Nav/menu' %}

    {% block jumbotron %}{% endblock %}

    <main class="container">
        {% include 'flash' %}
        {% block content %}{% endblock %}
    </main>

    {% include 'Nav/footer' %}

    {% block scripts %}
        <script src="{{ asset('app.js') }}"></script>
        {{ googleAnaytics() }}
    {% endblock %}
    </body>
{% endblock %}
</html>
