{% extends 'layout' %}

{% block content %}
    <form class="well" method="post">
        <p>{{ 'entity:Post.actions.deleteConfirm'|l({'%title%': post.title}) }}</p>
        <button type="submit" class="btn btn-danger">
            <span class="fas fa-trash"></span>
            {{ 'crud:delete.action'|l }}
        </button>
    </form>
{% endblock %}
