{% extends 'layout' %}

{% block content %}
    <form method="post" class="form" enctype="multipart/form-data">
        {{ widget(form, form.name, 'Avris\\Forms\\Style\\Bootstrap2') }}

        {#
        {# or iterate from 'user' to 'language' fields:
        {% for name, widget in form.iterate('user', 'language') %}
            {{ widget(widget, name, 'Avris\\Forms\\Style\\Bootstrap2') }}
        {% endfor %}
        #}

        <div class="text-right">
            <button class="btn btn-primary"><span class="fas fa-save"></span> {{ 'form.save'|l }}</button>
        </div>
    </form>
{% endblock %}
