{% extends 'layout' %}

{% block content %}
    {% for post in posts %}
        <article id="{{ post.id }}" {% if long|default %}class="post-long"{% endif %}>
            <a href="{{ route('postRead', {id: post.id}) }}">
                <img src="{{ post.file ? post.file|imagine('thumb') : 'http://placehold.it/200x200' }}" class="img-sm img-left"/>
            </a>
            <div class="row no-gutters">
                <h4 class="col">
                    <a href="{{ route('postRead', {id: post.id}) }}">{{ post.title }}</a>
                </h4>
                <div class="col text-right">
                    <ul class="list list-horizontal-md">
                        <li>
                            <span class="fas fa-user"></span>
                            {{ post.user }}
                        </li>
                        <li>
                            <span class="fas fa-clock"></span>
                            {{ post.publishedAt|date('format.dateTime'|l) }}
                        </li>
                        {% if app.user and canAccess('edit', post) %}
                            <li>
                                <a href="{{ route('postEdit', {id: post.id}) }}">
                                    <span class="fas fa-edit"></span>
                                    {{ 'crud:edit.action'|l }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ route('postDelete', {id: post.id}) }}">
                                    <span class="fas fa-trash"></span>
                                    {{ 'crud:delete.action'|l }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% if long|default %}
                {{ post.content|raw }}
            {% else %}
                <p>{{ post.getIntro() }}</p>
            {% endif %}
            <p class="small">
                <strong>{{ 'entity:Category.plural'|l }}: </strong>
                {% for category in post.categories %}
                    <a href="{{ route('postCategory', {name: category.name}) }}">{{ category.name }}</a>
                    {% if not loop.last %} &bull; {% endif %}
                {% endfor %}
            </p>
        </article>
    {% endfor %}
{% endblock %}