<!DOCTYPE html>
<div class="mail-container">
    <div class="navbar navbar-light bg-primary">
        <h1>
            <a href="{{ app.request.absoluteBase }}" target="_blank">
                <img src="cid:logo"/>
                {{ 'main.title'|l }}
            </a>
        </h1>
    </div>
    <div class="main">
        <div class="row">
            <div class="col-8">
                <h4>
                    <strong>{{ 'hello.hello'|l({'%name%': user}) }}</strong>
                </h4>
                {% block content %}
                {% endblock %}
                <div class="signature">
                    <hr/>
                    <p>
                        {{ 'mail:common.signature'|l }}
                        <br/>
                        {{ 'main.title'|l }}
                    </p>
                </div>
            </div>
            <div class="col-4">
                <a href="{{ app.request.absoluteBase }}" target="_blank">
                    <img src="cid:banner" class="wide"/>
                </a>
            </div>
        </div>
    </div>
    <div class="footer">
        <div>
            <p class="text-justify small">
                {{ 'mail:common.footer'|l }}
            </p>
        </div>
    </div>
</div>
