{% extends 'layout' %}

{% block content %}
    <h1>{{ 'entity:User.actions.account'|l }}</h1>
    <h3><i class="fas fa-user"></i> {{ app.user.username }}</h3>
    <p>{{ 'entity:User.fields.email'|l }}: <a href="mailto:{{ app.user.email }}" target="_blank">{{ app.user.email }}</a></p>
    <p>{{ 'entity:User.fields.postsCount'|l }}: {{ app.user.postsCount }}</p>
{% endblock %}
