{% extends 'layout' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h3>{{ 'entity:User.actions.login'|l }}</h3>
            <form method="post" class="form">
                {{ widget(loginForm, loginForm.name, 'Avris\\Forms\\Style\\Bootstrap') }}
                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-primary">{{ 'entity:User.actions.login'|l }}</button>
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <h3>{{ 'entity:User.actions.register'|l }}</h3>
            <form method="post" class="form">
                {{ widget(registerForm, registerForm.name, 'Avris\\Forms\\Style\\Bootstrap') }}
                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-primary">{{ 'entity:User.actions.register'|l }}</button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-info">
        <ul>
            <li>{{ 'main.instructions.0'|l|raw }}</li>
            <li>{{ 'main.instructions.1'|l|raw }}</li>
            <li>{{ 'main.instructions.2'|l|raw }}</li>
        </ul>
    </div>

{% endblock %}
