<footer class="bg-white">
    <div class="container">
        <ul class="text-center list list-horizontal-lg list-horizontal-wide">
            <li>
                <span class="fas fa-user"></span>
                {{ 'main.author'|l }}
            </li>
            <li>
                <a href="https://avris.it" target="_blank" rel="noopener">
                    <span class="fas fa-globe"></span>
                    avris.it
                </a>
            </li>
            <li>
                <a href="https://twitter.com/AvrisIT" target="_blank" rel="noopener">
                    <span class="fab fa-twitter-square"></span>
                    AvrisIT
                </a>
            </li>
            <li>
                <a href="https://micrus.avris.it" target="_blank" rel="noopener">
                    <span class="fas fa-globe"></span>
                    micrus.avris.it
                </a>
            </li>
            <li>
                <a href="https://gitlab.com/Avris/Micrus" target="_blank" rel="noopener">
                    <span class="fab fa-gitlab"></span>
                    Gitlab
                </a>
            </li>
            <li>
                <a href="https://paypal.me/AvrisIT" target="_blank" rel="noopener">
                    <span class="fab fa-paypal"></span>
                    {{ 'menu.donate'|l }}
                </a>
            </li>
        </ul>
    </div>
</footer>
