{% set homepage = not not app.request.query.get('homepage') %}

{% set menuLocales = [] %}
{% for key, val in locales %}
    {% set menuLocales = menuLocales|merge([{
        class: currentLocale() == key ? 'disabled' : '',
        link: route('changeLocale', { locale: key }),
        html: '<span class="text-xl"><span class="flag-' ~ (key|length == 2 ? key|upper : key|slice(3)) ~ ' flag-circle"></span></span> <span class="' ~ (homepage ? 'd-sm-none' : '') ~ '">' ~ val|e ~ '</span>',
    }]) %}
{% endfor %}

{% include 'Bootstrap/navbar' with {
    class: 'fixed-top navbar-light bg-white',
    brand: {
        link: route('home'),
        text: 'main.title'|l,
        image: { src: asset('images/logo.svg'), alt: 'menu.logo'|l }
    },
    navs: [{
        condition: not homepage,
        items: [
            { id: 'posts', icon: 'fas fa-file fa-fw', text: 'entity:Post.plural'|l, items: [
                { link: route('postList'), icon: 'fas fa-list fa-fw', text: 'entity:Post.actions.list'|l },
                { link: route('postAdd'), icon: 'fas fa-plus-circle fa-fw', text: 'entity:Post.actions.new'|l },
            ]},
            { id: 'other', icon: 'fas fa-cog fa-fw', text: 'menu.other'|l, disabled: true, items: [
                { condition: app.user, link: route('helloUser', {id: app.user.id|default}), icon: 'fas fa-user fa-fw', text: 'hello.helloUser'|l },
                { link: route('helloStranger', {name: 'Andre'}), icon: 'fas fa-user-md fa-fw', text: 'hello.helloName'|l },
                { link: route('helloStranger'), icon: 'fas fa-user-secret fa-fw', text: 'hello.helloStranger'|l },
                { divider: true },
                { link: route('flash'), icon: 'fas fa-bolt fa-fw', text: 'flash.header'|l },
                { link: route('cookies'), icon: 'fas fa-save fa-fw', text: 'cookies.header'|l },
                { link: route('extensions'), icon: 'fas fa-plug fa-fw', text: 'extensions.header'|l },
                { link: route('mail'), icon: 'fas fa-envelope fa-fw', text: 'email.header'|l },
                { link: route('factory'), icon: 'fas fa-industry fa-fw', text: 'menu.factory'|l },
                { link: route('files'), icon: 'fas fa-file fa-fw', text: 'files.header'|l },
            ]},
            { condition: app.user and app.user.isAdmin, icon: 'fas fa-tachometer-alt fa-fw', link: route('admin_dashboard'), text: 'crud:dashboard.action'|l },
        ],
    }, {
        condition: homepage,
        items: [
            { id: 'featuresLink', icon: 'fas fa-cogs', text: 'home.features.headerShort'|l, link: '#features' },
            { id: 'checkOutLink', icon: 'fas fa-paper-plane', text: 'home.checkOut.headerShort'|l, link: '#checkOut' },
            { id: 'projectsLink', icon: 'fas fa-tv', text: 'home.projects.headerShort'|l, link: '#projects' },
            { id: 'extensionsLink', icon: 'fas fa-plug', text: 'home.extensions.headerShort'|l, link: '#extensions' },
        ],
    }, {
        condition: not homepage,
        class: 'ml-auto',
        items: [
            { id: 'language', icon: 'fas fa-flag fa-fw', text: 'menu.language'|l, items: menuLocales },
            { condition: app.user, id: 'user', icon: 'fas fa-user fa-fw', text: app.user.username|default, items: [
                { link: route('account'), text: 'entity:User.actions.account'|l },
                { divider: true },
                { link: route('logout'), icon: 'fas fa-sign-out-alt fa-fw', text: 'entity:User.actions.logout'|l },
            ]},
            { condition: app.session.get('_impersonator'), link: '?_impersonate=_exit', icon: 'fas fa-user-secret fa-fw', text: 'entity:User.actions.impersonate.exit'|l },
            { condition: not app.user, link: route('login'), icon: 'fas fa-user fa-fw', text: 'entity:User.actions.login'|l},
        ],
    }, {
        condition: homepage,
        class: 'ml-auto mr-3',
        items: menuLocales,
    }, {
        items: [
            { link: 'https://docs.avris.it/micrus', external: true, icon: 'fas fa-file-alt fa-fw', text: 'docs.avris.it/micrus', wrapper: 'd-inline d-md-none' },
            { link: 'https://gitlab.com/Avris/Micrus', external: true, icon: 'fab fa-gitlab fa-fw', text: 'gitlab.com/Avris/Micrus', wrapper: 'd-inline d-md-none' },
            { link: 'https://micrus.avris.it', external: true, icon: 'fas fa-globe fa-fw', text: 'micrus.avris.it', wrapper: 'd-inline d-md-none' },
        ],
    }],
} %}
